@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .search-bar:hover {
    width: 100%;
  }
  .search-bar-active:active {
    width: 100%;
  }

  .search-bar {
    width: 112px;
    transition: 0.8s;
  }

  .search-bar-animation {
    animation: searchBarAnimation 1s ease-in-out infinite;
  }

}

@keyframes searchBarAnimation {
  0% {
    width: 100px;
  }

  50% {
    width: 200px;
  }

  100% {
    opacity: 300px;
  }
}
html {
	scrollbar-gutter: stable;
  }

  .headingDecorator {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 1px rgb(224, 92, 44);
    letter-spacing: 2px;

  }
  
  /* .headingDecorator::before,
  .headingDecorator::after {
    content: '';
    width: 10%;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(255, 106, 51);
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
  }
  
  .headingDecorator::before {
    left: 0;
  }
  
  .headingDecorator::after {
    right: 0;
  }
  
  @media screen and (min-width: 640px) {
    .headingDecorator::before {
      left: 1%;
    }
  
    .headingDecorator::after {
      right: 1%;
    }
  } */